.gitattributes
*.pkl
*.npz
*.txt
cyclicpattern.ipynb
Scraps/*
Scraps/exploredata.ipynb
scraps.ipynb
__pycache__/*
Data/*
*amanda*
!Data/WL_allfeatures_e.npz
!Data/WL_allfeatures.npz
!Data/WLfeaturevectors.npz
!Data/WLKernel.npx